body {
  font-family: LiSu;
  font-size: 17px;
  overflow-x: hidden;
  background-color: black;
  color: white;
}

p{
  text-align: center;
}

H1{
  text-align: center;
}

.titlezone{
	color: white;
}

.indexzone{	
  position: absolute;
  right: -150px;
  top: 45px;
}

.indexzone > ul > li {
  list-style: none;
}

.indexzone > ul > li > a {
  display: block;
  padding: 12px 15px;
  color: #999A9B;
}

.indexzone > ul > li.active > a,
.indexzone > ul > li > a:hover,
.indexzone > ul > li > a:focus {
  color: #0299CC;
}

.indexzone-deco {
  display: inline-block;
  width: 20px;
  height: 8px;
  background-color: #999A9B;
  vertical-align: middle;
  margin-right: 20px;
}

.indexzone > ul > li.active > a > .indexzone-deco,
.indexzone > ul > li:hover > a > .indexzone-deco
 {
  background-color: #0299CC;
}

.concentzone{
	width:600px;	
}

.card1{
	width:90px;
	height:90px;
	background-color:#479AC7;
	color:white;	
}

.card2{
	width:90px;
	height:90px;
	background-color:#3A5FCD;
	color:white;
}

.card3{
	width:90px;
	height:90px;
	background-color:#00B271;
	color:white;
}
