body {
  font-family: LiSu;
  font-size: 17px;
  overflow-x: hidden;
  background-color: black;
  color: white;
}

p{
  text-align: center;
}

a{
	text-decoration:none;
}

a:link {
color: white; /*连接默认的颜色变化*/
}
a:visited {
color: #0000FF; /*连接访问的颜色变化*/
}
a:hover {
color: #00FF00; /*鼠标经过的颜色变化*/
}
a:active {
color: #FFFF00; /*鼠标按下的颜色变化*/
}

H1{
  text-align: center;
}

.titlezone{
	color: white;
}

.card1{
	width:90px;
	height:90px;
	background-color:#479AC7;
	color:white;	
}

.card2{
	width:90px;
	height:90px;
	background-color:#3A5FCD;
	color:white;
}

.card3{
	width:90px;
	height:90px;
	background-color:#00B271;
	color:white;
}
